.status-bar___column {
  position: fixed;
  width: 100%;
}
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar___column:first-child span {
  margin-right: 5px;
}
.status-bar___column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar___column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar___column .fa-battery-full {
  margin: 0px 5px;
}
